@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --fonte-principal: "Kanit", serif;
  --fonte-secundaria: "MD Sans", sans-serif;
  --back-color: #132a13;
  --text-color: aliceblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  max-height: 100vh;
  max-width: 100vw;
  flex-direction: column;
  background-color: rgb(186, 127, 174);
  margin: 0.2rem;
}
.navegation {
  display: flex;
  justify-content: initial;
  margin: 10px;
}
.navegation-bar {
  display: flex;
  background-color: var(--back-color);
  border-radius: 1.3rem;
  padding: 10px;
  gap: 1.2rem;
  list-style: none;
  font-family: var(--fonte-principal);
  font-weight: 800;
  font-size: 1.4rem;
}
.navegation-bar-link {
  text-decoration: none;
  color: aliceblue;
}

.navegation-bar a:hover {
  color: #ffd700;
  transition: 0.4s;
}
.principal {
  justify-content: center;
  background-color: var(--back-color);
  color: var(--text-color);
  border: 0.1rem solid #ffd700;
  border-radius: 1rem;
  margin: 0.8rem;
  padding: 0.8rem;
}
.principal-image {
  border: 0.2rem solid #ffd700;
  margin: 0.9rem;
  border-radius: 2rem;
  width: 17em;
}
.container {
  text-align: justify;

  margin: 0.5rem;
  padding: 0.5rem;
}

.container-tittle {
  font-family: var(--fonte-principal);
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.container-text {
  font-family: var(--fonte-secundaria);
  font-size: 1.1rem;
  margin: 0.2rem;
  padding: 0.2rem;
}
.citacao {
  display: flex;
  justify-content: right;
  font-family: var(--fonte-secundaria);
}

#principais-musicas {
  border: 0.1rem solid #ffd700;
  border-radius: 1rem;
  margin: 2rem 1rem 1rem 1rem;
  padding: 1rem 1rem 1rem 1.6rem;
  background: linear-gradient(#35803f, #a63f4e);
  color: var(--text-color);
}
.principais-musicas-tittle {
  font-family: var(--fonte-principal);
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}
.principais-musicas-list {
  font-family: var(--fonte-secundaria);
  font-size: 1.2rem;
  margin-left: 0.8rem;
  list-style: circle;
  margin-bottom: 1rem;
}
.principais-musicas-links {
  color: var(--text-color);
  text-decoration: none;
}
.principais-musicas-links:hover {
  color: #ffd700;
  transition: 0.4s;
  font-size: 1.1rem;
}
.fontes {
  color: var(--text-color);
  text-decoration: none;
}

.fontes:hover {
  color: #ffd700;
}
.rodape {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  background-color: #ffd700;
  font-family: var(--fonte-principal);
  font-weight: bold;
  font-size: 1.1rem;
  align-items: center;
}
@media (min-width: 280px) and (max-width: 680px) {
  .container {
    max-width: 100vw;
  }
  .principal-image {
    justify-content: center;
    margin-left: 5rem;
  }
}
@media (min-width: 681px) and (max-width: 1024px) {
  .container {
    max-width: 95vw;
  }

  .principal-image {
    float: right;
  }
}
@media (min-width: 1024px) and (max-width: 2024px) {
  main {
    display: inline-flex;
  }
  .principal {
    max-width: 60%;
  }
  #principais-musicas {
    align-items: flex-end;
    max-height: 60vh;
    max-width: 40%;
  }
  body {
    max-width: 100vw;
  }
  .principal-image {
    float: right;
  }
}
